    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Contáctenos</h3>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>123 Calle, Nueva York, USA</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+53 63415156</p>
                        <p><i class="fa fa-envelope mr-2"></i>hmpaquetes1@hmpaquetes.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <!-- <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a> -->
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h3 class="text-primary mb-4">Enlaces Rápidos</h3>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="{% url 'website_app:index' %}"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                            <a class="text-white mb-2" href="{% url 'website_app:about' %}"><i class="fa fa-angle-right mr-2"></i>Nosotros</a>
                            <a class="text-white mb-2" href="{% url 'website_app:services' %}"><i class="fa fa-angle-right mr-2"></i>Servicios</a>
                            <a class="text-white mb-2" href="{% url 'website_app:contact' %}"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#">HM-PAQUETES</a>. Todos los Derechos Reservados. 
                Diseñado por <a href="https://htmlcodex.com">Código Creativo</a>
                </p>
            </div>
        </div>
    </div>