<!-- Services Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Nuestros Servicios</h6>
                <h1 class="mb-4">Mejores Servicios Logísticos</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-plane text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Carga Aérea</h6>
                    </div>
                    <p>Servicio de carga aérea rápido y seguro para envíos nacionales e internacionales</p>
                    <a class="border-bottom text-decoration-none" href="{% url 'website_app:air_freight_service' %}">Leer Más</a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-ship text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Carga Marítima</h6>
                    </div>
                    <p>Soluciones de transporte marítimo eficientes para carga de gran volumen</p>
                    <a class="border-bottom text-decoration-none" href="{% url 'website_app:sea_freight_service' %} ">Leer Más</a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-truck text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Transporte Terrestre</h6>
                    </div>
                    <p>Servicio de transporte terrestre confiable para entregas locales y nacionales</p>
                    <a class="border-bottom text-decoration-none" href="{% url 'website_app:land_transport_service' %}">Leer Más</a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-store text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Almacenamiento</h6>
                    </div>
                    <p>Instalaciones de almacenamiento seguras y modernas para su carga</p>
                    <a class="border-bottom text-decoration-none" href="{% url 'website_app:goods_storage' %}">Leer Más</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->
